{% set title = 'Home' %}
{% set filename = 'index.html' %}
{% extends 'layouts/main.njk' %}

{% block content %}
    <h1>BshadeUI</h1>
    <p>CSS framework, utilities and components by Bellshade.org</p>
    <p>
        <a href="classes.html" class="inline-block mt-1 px-1 py-0.6 radius-0.5 text-center fw-500 border-solid border-1 color-teal-500 border-teal-500 shadow-black shadow-xy-0.3 shadow-blur-0">Get started</a>
    </p>
{% endblock %}