<div class="grid grid-cols-1 text-center md:text-left md:grid-cols-8 p-1 bg-gray-900 mt-0.5 radius-t-0.5 md:radius-0.5">
    <div class="color-gray-200 text-xl text-center m-0">BshadeUI</div>
    <div class="md:colspan-4 color-gray-200">
        <span class="invisible md:visible color-gray-600 md:mx-1">|</span>2021 Made with
        <svg
            class="-mb-0.2"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="#ff008f"
            class="bi bi-heart-fill"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
        </svg>
        by
        <a class="color-teal-500" href="https://bellshade.org">bellshade.org</a>
    </div>
</div>